@import '../../styles/variables';
@expanded-width: 200px;

.left-sidebar {

	font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    width: @expanded-width;

    @media @desktop {
    	display: none;
    	top: 74px;
    } 

    &.open {
    	@media @desktop {
    		display: block !important;
			top: 74px !important;
			margin: 0 !important;
			width: 75vw !important;
			height: calc(100vh - 74px) !important;
			position: fixed;
    	}

    	.item-name {
    		display: inline-block !important;
    		font-size: 18px;
    	}

    	.copyright-menu {
    		font-size: 14px;
    	}
    }
		
	&.side-menu.left {
		top: 0;
		z-index: 9000;
		transition: width 0.3s;
	}

	#sidebar-menu {
		padding-top: 0;

		.nav-title {
			padding: 18px;

			@media @desktop {
				display: none;
			}
		}

		.side-logo {
			display: block;
		}

		.logo-expanded {
			
		}

		.nav-items-container > li > a {
			color: @gray-200;
			padding: 15px 15px;
			margin: 0;
		}

		.nav-items-container > li:hover > a {
			@media @desktop {
				width: auto !important	
			}
		}

		.nav-items-container > li.active,
		.nav-items-container > li.active > a {
			font-weight: bold;
    		color: @gray-1600;
		}

		.nav-items-container > li > a:hover {
			.item-name {
				font-weight: bold;
    			color: @gray-1600;
    		}
		}

		.nav-items-container > li > a > span{
			display: inline-block;
		}

		.nav-items-container > li > a > img {
			width: 22px;
			height: 22px;
			margin-right: 24px;

			@media @desktop {
				margin-right: 14px;
			}
		}

		// Subnav

		.subdrop {
			background: none !important; //overrides minton
			border: none;
		}

		.nav-items-container > li > ul {
			
		}

		.nav-items-container > li > ul a {
			font-size: 12px;
			padding-left: 20px;
			background: @gray-50;
		}

		.nav-items-container > li > ul a:hover {
			font-weight: bold;
    		color: @gray-1600;
		}

		.nav-items-container > li > ul li a:before {
			margin-right: 16px;
			margin-left: 20px;
		    font-size: 20px;
		    content: "\2022";
		    color: #d8d8d8;
		    vertical-align: middle;
		}

		.nav-items-container > li > ul a:hover:before {
    		color: @blue-100;
		}
	}
}

// @media (max-width: 1039px) {
// 	.left-sidebar {
// 	    display: none;
// 	}

// 	.left-sidebar.open {
// 		display: block;
// 		width: auto;
// 	}
// }