{% extends "base/base.html" %}

{% block section_css %}
<link rel="stylesheet" type="text/css" href="/frontend/lib/minton/plugins/datatables/dataTables.bootstrap4.min.css">
<link rel="stylesheet" type="text/css" href="/frontend/modules/menus/menus.css">
<link rel="stylesheet" type="text/css" href="/frontend/modules/optionspanel/optionspanel.css">
{% endblock section_css %}

{% block app_content %}
<section id="menus" class="container-fluid section-container">

    <menus></menus>
    
</section>
{% endblock app_content %}

{% block section_scripts %}
<!-- datatables -->
<script type="text/javascript" src="/frontend/lib/minton/plugins/datatables/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/frontend/lib/minton/plugins/datatables/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript" src="/frontend/lib/minton/plugins/datatables/dataTables.responsive.min.js"></script>
<!-- validation -->
<script type="text/javascript" src="/frontend/lib/jquery-validation-1.19.0/jquery.validate.min.js"></script>
<script type="text/javascript" src="/frontend/lib/jquery-validation-1.19.0/additional-methods.min.js"></script>
<script type="text/javascript" src="/frontend/lib/jquery-validation-1.19.0/localization/messages_es.min.js"></script>
<!-- deeplegal -->
<script type="text/javascript" src="/frontend/modules/menus/menus.js"></script>
<script type="text/javascript" src="/frontend/modules/optionspanel/optionspanel.js"></script>
<script type="text/javascript" src="/frontend/modules/switchery/switchery.js"></script>
{% endblock section_scripts %}
