{% extends "base/base.html" %}

{% block section_css %}
<link rel="stylesheet" type="text/css" href="/frontend/modules/deepsearch/deepsearch.css">

{% endblock section_css %}

{% block app_content %}
<section id="case-detail" class="container-fluid section-container">

    <deepsearch></deepsearch>
    
</section>
{% endblock app_content %}

{% block section_scripts %}

<!-- deeplegal -->
<script type="text/javascript" src="/frontend/modules/deepsearch/deepsearch.js"></script>
{% endblock section_scripts %}
