{% extends "base/base.html" %}

{% block section_css %}
<link rel="stylesheet" type="text/css" href="/frontend/modules/cases/cases.css">
<link rel="stylesheet" type="text/css" href="/frontend/plugins/casestable/casestable.css">
<link rel="stylesheet" type="text/css" href="/frontend/modules/litigants/litigants.css">
<link rel="stylesheet" type="text/css" href="/frontend/modules/history/history.css">
<link rel="stylesheet" type="text/css" href="/frontend/modules/documentlist/documentlist.css">
{% endblock section_css %}

{% block app_content %}
<section id="cases" class="container-fluid section-container">

    <cases></cases>
    
</section>
{% endblock app_content %}

{% block section_scripts %}

<!-- deeplegal -->
<script type="text/javascript" src="/frontend/modules/cases/cases.js"></script>
<script type="text/javascript" src="/frontend/modules/cases/laboral.js"></script>
<script type="text/javascript" src="/frontend/plugins/casestable/casestable.js"></script>
<script type="text/javascript" src="/frontend/modules/litigants/litigants.js"></script>
<script type="text/javascript" src="/frontend/modules/history/history.js"></script>
<script type="text/javascript" src="/frontend/modules/documentlist/documentlist.js"></script>
{% endblock section_scripts %}
